<ion-header #header class="header-bottom-100">
  <ion-toolbar class="mt-4 p-2" mode="ios">
    <ion-buttons slot="start">
      <ion-button class="pt-3" color="danger" (click)="pop()" mode="md">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title slot="start" class="red fw-4 sz-4 mt-3 pb-4">Change Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form  [formGroup]="changeppassword">
    <div class="mt-4">
      <ion-label class="grey ml-1 required">Old Password</ion-label>
      <ion-input type="password" class="b br mt-2 mb-4"  formControlName="oldpassword" placeholder="Enter Old Password" id="pwd"></ion-input>
      <p class="error sz-1 ml-1" *ngIf="changeppassword.get('oldpassword').hasError('required') && changeppassword.get('oldpassword').touched">Old password is required</p>

    </div>
    <div>
      <ion-label class="grey ml-1 required">New Password</ion-label>
      <ion-input type="password" class="b br mt-2 mb-4"  formControlName="password" placeholder="Enter New Password" id="pwd"></ion-input>
      <p class="error sz-1 ml-1" *ngIf="changeppassword.get('password').hasError('required') && changeppassword.get('password').touched">New password is required</p>
    </div>
    <div>
      <ion-label class="grey ml-1 required">Confirm Password</ion-label>
      <ion-input type="password" class="b br mt-2 mb-4"  formControlName="confirmpassword" placeholder="Re-Enter New Password" id="pwd"></ion-input>
      <p class="error sz-1 ml-1" *ngIf="changeppassword.get('confirmpassword').hasError('required') && changeppassword.get('confirmpassword').touched">Confirm password is required</p>
      <p class="error sz-1 ml-1" *ngIf="passwordCheck">Password and Confirm Password mismatch.</p>
    </div>
    <br /><br />
    <ion-button mode="ios" type="submit"
      expand="block" color="danger" [disabled]="!changeppassword.valid" (click)="changePassword()">Submit</ion-button><br />
    </form><br/>
</ion-content>
