.header{
  --background: #e54744;
  text-align: center;
}
.bck-btn{
  color: #fff;
  position: absolute;
  margin-top: 20px;
  margin-left: 5px;
}

p ion-icon{
  font-size: 16px;
  vertical-align: middle;
}
.read {
  color: #43b5ef;
}
