/* ion-content {
  /* --background:#e54744;
}

ion-grid {
  width: 100vw;
  height: 100vh;
}

ion-grid ion-row {
  display: block;
}

ion-grid ion-img {
  margin: 0 auto;
  width: 260px;
}

ion-grid ion-input {
  background-color: aliceblue;
  border-radius: 0px;
  color: grey;
}

ion-grid .title {
  color: aliceblue;
  font-size: 18px;
  margin: 0 0 2px 0;
}

ion-grid ion-button {
  color: grey;
  background-color: #f0f8ff;
  border-radius: 2rem;
  --box-shadow:none;
  text-transform: none;
}

.signup {
  margin-bottom: 0px;
  text-align: center;
}

.signin {
  color: white;
  text-align: center;
}

:root {
  --ion-color-favorite: #bfc1c2;
  --ion-color-favorite-rgb: 191,193,194;
  --ion-color-favorite-contrast: #000000;
  --ion-color-favorite-contrast-rgb: 0,0,0;
  --ion-color-favorite-shade: #a8aaab;
  --ion-color-favorite-tint: #c5c7c8;
}

.terms {
  font-size: 15px;
  color: white;
}

.error {
  font-size: 15px;
  color: white;
  margin: 0;
  padding: 0;
} */
