<ion-header #header class="header-bottom-100 m-0">
  <ion-toolbar class="mt-2 p-2" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button
        class="mt-3"
        color="danger"
        mode="md"
        defaultHref="home"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="danger" class="red fw-4 sz-4 mt-3 pb-4"
      >Delivery Address</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" [appHideHeader]="header" fullscreen="true">
  <ng-container *ngIf="address?.length != 0">
    <ion-grid >
      <ion-row>
        <p class="black fw-2 ml-3 sz-3 mb-0">Saved Address</p>
      </ion-row>
      <ion-row class="header-bottom-100">
        <ion-radio-group style="width: 100%" mode="ios">
          <div
            class="b br m-3 pt-1 pb-2"
            *ngFor="let add of address; let i = index;"
          >
            <ion-item class="no-ripple" lines="none">
              <ion-col size="10">
                <span (click)="selectAddress(add)" class="black sz-2"
                  ><b>{{add.name}}</b></span
                ><br />
                <span (click)="selectAddress(add)" class="grey-d sz-2"
                  >{{add.address}}</span
                ><br />
                <span (click)="selectAddress(add)" class="grey-d sz-2"
                  >{{add.city + ', ' + add.state + ', ' + add.pin_code }}</span
                ><br />
                <span class="grey-d sz-2"
                  >Phone Number: {{add.mobile| mask: '(000) 000-0000'}}</span
                >
                <!-- <p (click)="selectAddress(address.name,address.address, address.city, address.state, address.pin_code,address.mobile,address.place_type)" style="width: 80%; font-size: 15px;">{{address.address + ', ' + address.city + ', ' + address.state + ', ' + address.pin_code}}</p> -->
                <!-- <ion-radio color="danger" slot="start" value={{add.id}}></ion-radio> -->
              </ion-col>
              <ion-col size="2">
                <div
                  (click)="presentAlertConfirm(i, add.id)"
                  class="trash ion-text-right"
                >
                  <ion-icon color="danger" name="trash-outline"></ion-icon>
                </div>
              </ion-col>
            </ion-item>
          </div>
        </ion-radio-group>
      </ion-row>
    </ion-grid>
  </ng-container>

  <form [formGroup]="addressForm">
    <ion-grid>
      <ion-row>
        <div>
          <p class="black fw-2 ml-3 sz-3 mb-1 mt-1">Contact Details</p>
        </div>
      </ion-row>
      <ion-row class="mr-3 ml-3">
        <ion-col>
          <ion-label class="grey sz-2">Email</ion-label>
          <ion-input
            formControlName="name"
            placeholder="Name"
            type="text"
            class="b br mt-2 "
          ></ion-input>
          <p
            class="error sz-1 ml-1"
            *ngIf="addressForm.get('name').hasError('required') && addressForm.get('name').touched"
          >
            Name is required.
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="mr-3 ml-3">
        <ion-col>
          <ion-label class="grey sz-2">Phone</ion-label>
          <input
          type="text"
          mask="(000) 000-0000"
          formControlName="mobile"
          placeholder="Enter Phone Number"
          type="tel"
          class="input b br"
        />
        <p
          class="error sz-1 ml-1"
          *ngIf="addressForm.get('mobile').hasError('required') && addressForm.get('mobile').touched"
        >
          Phone is required.
        </p>
        </ion-col>
      </ion-row>
      <ion-row class="mr-3 ml-3">
        <ion-col>
          <ion-label class="grey sz-2">Address</ion-label>
          <ion-input
            formControlName="address"
            placeholder="Address (House No.,Building,Street,Area)"
            type="text"
            class="b br mt-2"
          ></ion-input>
          <p
            class="error sz-1 ml-1"
            *ngIf="addressForm.get('address').hasError('required') && addressForm.get('address').touched"
          >
            Address is required
          </p>
        </ion-col>
        </ion-row>
        <ion-row class="mr-3 ml-3">
        <ion-col>
            <ion-label class="grey sz-2">State</ion-label>
            <ion-select
              (ionChange)="populateCity($any($event.target).value)"
              formControlName="state"
              placeholder="Select State"
              id="state"
              interface="action-sheet"
              class="b br mt-2"
            >
              <ion-select-option [value]="da.isoCode" *ngFor="let da of states">
                {{da.name}}
              </ion-select-option>
            </ion-select>
            <!-- <ion-input
                  type="email"
                  class="form-control"
                  id="email"
                  placeholder="State"
                  formControlName="state"
                ></ion-input> -->
          <p
            class="error sz-1 ml-1"
            *ngIf="addressForm.get('state').hasError('required') && addressForm.get('state').touched"
          >
            State is required.
          </p>
          <!-- <ion-input type="text" formControlName="state" placeholder="State"></ion-input>
              <p class="error" *ngIf="createProfileForm.get('state').hasError('required') && createProfileForm.get('state').touched">State is required</p> -->
        </ion-col>
      </ion-row>
      <ion-row class="mr-3 ml-3">
        <ion-col>
          <ion-label class="grey sz-2">City</ion-label>
              <ion-select
                type="text"
                formControlName="city"
                placeholder="Select City"
                interface="action-sheet"
                id="city"
                class="b br mt-2"
              >
                <ion-select-option
                  *ngFor="let data of cities"
                  [value]="data.name"
                >
                  {{data.name}}
                </ion-select-option>
              </ion-select>
          <p
            class="error sz-1 ml-1"
            *ngIf="addressForm.get('city').hasError('required') && addressForm.get('city').touched"
          >
            City is required.
          </p>
          </ion-col>
          </ion-row>
          <ion-row class="mr-3 ml-3">
            <ion-col>
              <ion-label class="grey sz-2">Postal Code</ion-label>
          <ion-input
            formControlName="pinCode"
            placeholder="Enter Postal Code"
            type="text"
            class="b br mt-2"
          ></ion-input>
          <p
            class="error sz-1 ml-1"
            *ngIf="addressForm.get('pinCode').hasError('required') && addressForm.get('pinCode').touched"
          >
            Postal Code is required.
          </p>
          <!-- <ion-input type="text" formControlName="city" placeholder="City"></ion-input>
              <p class="error" *ngIf="createProfileForm.get('city').hasError('required') && createProfileForm.get('city').touched">City is required</p> -->
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col class="col">
          <ion-input
            formControlName="address"
            placeholder="Address (House No.,Building,Street,Area)"
            type="text"
            class="input"
          ></ion-input>
          <p class="error" *ngIf="addressForm.get('address').hasError('required') && addressForm.get('address').touched">Address is required</p>
           <ion-input
            formControlName="locality"
            placeholder="Locality/Town"
            type="text"
            class="input"
          ></ion-input>
          <ion-input
            formControlName="city"
            placeholder="City"
            type="text"
            class="input"
          ></ion-input>
          <p class="error" *ngIf="addressForm.get('city').hasError('required') && addressForm.get('city').touched">City is required</p>
          <ion-input formControlName="state" placeholder="State" type="text" class="input"></ion-input>
          <p class="error" *ngIf="addressForm.get('state').hasError('required') && addressForm.get('state').touched">State is required</p>
          <ion-input
          formControlName="pinCode"
          placeholder="Zip Code"
          type="text"
          class="input"
        ></ion-input>
        <p class="error" *ngIf="addressForm.get('pinCode').hasError('required') && addressForm.get('pinCode').touched">Zip Code is required</p>
        </ion-col>
      </ion-row> -->
      <!-- <ion-row>
        <ion-col size="6">
          <p style="padding: 0; margin: 0;font-size: 14px;">Address Type</p>
        </ion-col>
      </ion-row> -->
      <ion-row class="mr-3 ml-3 mt-2 mb-2">
        <ion-col size="6">
          <ion-segment
            [(ngModel)]="addType"
            formControlName="addType"
            mode="ios"
            style="--background: rgb(224, 224, 224); font-size: 12px"
            (ionChange)="segmentChanged($event)"
          >
            <ion-segment-button
              style="
                --background: rgb(184, 184, 184);
                border-radius: 10px;
                margin: 5px;
              "
              value="home"
            >
              <ion-label>Home</ion-label>
            </ion-segment-button>
            <ion-segment-button
              style="
                --background: rgb(184, 184, 184);
                border-radius: 10px;
                margin: 5px;
              "
              value="work"
            >
              <ion-label>Work</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
          <ion-col style="padding-left: 15px;">
            <ion-checkbox
            color="danger"
            style="margin-right: 5px;top: 3px;position: relative; width: 18px; height: 18px;"
            mode="ios"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="checkBoxConfirms"
          ></ion-checkbox>
          <span style="font-size: 15px; color: ;">Save Address</span>
          </ion-col>
        </ion-row> -->
      <ion-row class="mr-3 ml-3">
        <ion-col>
          <ion-button
            [disabled]="!addressForm.valid"
            (click)="getTax()"
            Expand="block"
            color="danger"
            mode="ios"
            >Next >></ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
