
<ion-header #header class="header-bottom m-0" >
  <ion-toolbar #toolbar>
    <ion-title class="red fw-4 sz-6 mt-4 pb-4">
      Forgot Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" [appHideHeader]="header" fullscreen="true">
  <ion-grid>
    <ion-row style="margin-top: 50px;">
      <ion-col>
        <form [formGroup]="forgetform">
         <ion-label class="grey required">Email</ion-label>
         <ion-input type="email" class="b br mt-2 mb-4" placeholder="Enter Registered Email" id="email" formControlName="email"></ion-input>
            <p class="error sz-1" *ngIf="forgetform.get('email').hasError('required') && forgetform.get('email').touched">Email address is required.</p>
            <p class="error sz-1" *ngIf="forgetform.get('email').hasError('pattern') && forgetform.get('email').touched">Invalid email address.</p>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button mode="ios" color="danger" expand="block" (click)="forgetPassword()">Send</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="black sz-4 fw-4 ion-text-center " (click)="goTo()">Sign In?</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

